@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
--bg: 245 245 245;
}


html, body, :root {
height: 100%;
}


body {
@apply bg-gray-50 text-gray-900 antialiased;
}


/* simple scrollbar */
*::-webkit-scrollbar { width: 10px; height: 10px; }
*::-webkit-scrollbar-thumb { background: #c7c7c7; border-radius: 9999px; }
*::-webkit-scrollbar-track { background: #efefef; }
